html {
  font-family: Helvetica, sans-serif;
  text-align: center;
  background-color: black;
}

h1 {
  font-family: verdana;
  font-size: 50px;
  font-weight: normal;
  color: white;
  text-align: center;
}

a {
  font-align: center;
  font-size: 16px;
  color: aquamarine;
}
